<ng-container *ngIf="entryJournal && !isSubmit">
  <form [formGroup]="myForm" novalidate> <!--(ngSubmit)="saveEntryJournal(myForm)"-->
      <div class="btn-list">
        <button type="button"
                *ngIf="canReturn"
                (click)="return()" class="btn btn-default btn-with-icon">
                  <i class="ion-ios-undo"></i>{{'form_action.return'|translate}}
        </button>
        <button *ngIf="formEdit"
                (click)="submitForm()" class="btn btn-success pull-right"
                [disabled]="!myForm.valid">
                  <i class="ion-ios-compose"></i> {{'form_action.submit'|translate}}
        </button>
      </div>
      <div class="clearfix"></div>
      <br />
      <bc-form-navigation *ngIf="formAction[prefix + '11'] && (tcode != prefix + '11')"
                          [formAction]="formAction"
                          [tcode]="tcode"
                          [value]="myForm.controls._id.value"
                          [collapse]="collapse">
      </bc-form-navigation>

      <div *ngIf="formAction[prefix + '11'] && (tcode != prefix + '11')" class="margin-20">
        <a *ngIf="!collapse" (click)="toggleCollapse()" style="cursor: pointer"><i class="ion-android-remove-circle"></i> {{'form_action.collapse'|translate}}</a>
        <a *ngIf="collapse" (click)="toggleCollapse()" style="cursor: pointer"><i class="ion-android-add-circle"></i> {{'form_action.expand'|translate}}</a>
      </div>

    <!--
    <div class="btn-group pull-right" role="group" aria-label="Individual">
      <button *ngIf="formAction[prefix + '11'] && (tcode != prefix + '11')" (click)="executeAction('11')" type="button" class="btn btn-primary btn-with-icon" translate><i class="ion-android-add"></i>{{'individual.create'}}</button>
      <button *ngIf="formAction[prefix + '12'] && (tcode != prefix + '12') && (tcode != prefix + '11')" (click)="executeAction('12', myForm.controls._id.value)" type="button" class="btn btn-primary btn-with-icon" translate><i class="ion-android-create"></i>{{'individual.view'}}</button>
      <button *ngIf="formAction[prefix + '13'] && (tcode != prefix + '13') && (tcode != prefix + '11')" (click)="executeAction('13', myForm.controls._id.value)" type="button" class="btn btn-primary btn-with-icon" translate><i class="ion-android-create"></i>{{'individual.edit'}}</button>
      <button *ngIf="formAction[prefix + '14'] && (tcode != prefix + '14') && (tcode != prefix + '11')" (click)="executeAction('14', myForm.controls._id.value)" type="button" class="btn btn-primary btn-with-icon" translate><i class="ion-toggle-filled"></i>{{'individual.disable'}}</button>
      <button *ngIf="formAction[prefix + '15'] && (tcode != prefix + '15') && (tcode != prefix + '11')" (click)="executeAction('15', myForm.controls._id.value)" type="button" class="btn btn-primary btn-with-icon" translate><i class="ion-toggle"></i>{{'individual.enable'}}</button>
      <button *ngIf="formAction[prefix + '16'] && (tcode != prefix + '16') && (tcode != prefix + '11')" (click)="executeAction('16', myForm.controls._id.value)" type="button" class="btn btn-primary btn-with-icon" translate><i class="ion-clock"></i>{{'individual.view_change'}}</button>
      <button *ngIf="formEdit"
              (click)="submitForm()" class="btn btn-success pull-right"
              [disabled]="!myForm.valid">
                <i class="ion-ios-compose"></i> {{'form_action.submit'|translate}}
      </button>
    </div>
    -->


    <div class="clearfix"></div>
    <br />

    <!-- MJE HEADER -->
    <bc-simple-card title="Header">
      <div class="row">
        <div class="form-group col-sm-3" hidden>
          <label>{{'a2z.preparer'|translate}} <small *ngIf="!myForm.controls.ppr.valid" class="text-warning">({{'validation.is_required'|translate}})</small></label>
          <input type="text" class="form-control" name="ppr" formControlName="ppr"/>
        </div>
        <div class="form-group col-sm-3" > <!--hidden-->
          <ng-container *ngIf="tcode == prefix + '11'">
            <label>{{'a2z.lge'|translate}} <small *ngIf="!myForm.controls.lge.valid" class="text-warning">({{'validation.is_required'|translate}})</small></label>
            <bc-combo-box name="lge" formControlName="lge" [list]="lgeList" [f1]="'lge'" [f2]="'desc'"></bc-combo-box>
          </ng-container>
          <ng-container *ngIf="tcode != prefix + '11'">
            <label>{{'a2z.lge'|translate}} <small *ngIf="!myForm.controls.lge.valid" class="text-warning">({{'validation.is_required'|translate}})</small></label>
            <input type="text" class="form-control" name="lge" formControlName="lge"/> <!--  [disabled]="tcode != prefix + '11'" -->
          </ng-container>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-3">
          <label>{{'a2z.entry'|translate}} {{'a2z.ref'|translate}} <small *ngIf="!myForm.controls.ref.valid" class="text-warning">({{'validation.is_required'|translate}})</small></label>
          <input type="text" class="form-control" name="ref" formControlName="ref"/>
        </div>
        <div class="form-group col-sm-3">
          <label>{{'a2z.entry'|translate}} {{'a2z.date'|translate}} <small *ngIf="!myForm.controls.date.valid" class="text-warning">({{'validation.is_required'|translate}})</small></label>
          <bc-date-picker-popup formControlName="date" [formEdit]="formEdit"></bc-date-picker-popup>
        </div>
        <div class="form-group col-sm-6">
          <label>{{'a2z.entry'|translate}} {{'a2z.desc'|translate}} <small *ngIf="!myForm.controls.desc.valid" class="text-warning">({{'validation.is_required'|translate}})</small></label>
          <input type="text" class="form-control" name="desc" formControlName="desc" />
        </div>
      </div>
    </bc-simple-card>
    <!--</ba-card>
    <!-- ./MJE HEADER -->

    <!-- MJE CONTENT -->
    <div formArrayName="docs">
      <div *ngFor="let doc of myForm.controls.docs.controls; let i=index">
          <bc-simple-card title="{{'a2z.document'|translate}} {{i+1}}">
            <div class="form-group" [formGroupName]="i">
              <mje-form-document  [formEdit]="formEdit"
                                  [item]="i"
                                  [formGroup]="myForm.controls.docs.controls[i]"
                                  [accList]="accList"
                                  [objTypeList]="objTypeList"
                                  (itemEvent)="handleEvent($event)"
                                  [refArray]="refArray">
              </mje-form-document>

              <div class="margin-20">
                <button *ngIf="formEdit && (myForm.controls.docs.controls.length >=1)"
                        (click)="removeDoc(i)"
                        type="button" class="btn btn-danger pull-right">
                        {{'form_action.remove'|translate}} {{'a2z.doc'|translate}}
                </button>
              </div>
              <br />
            </div>
          </bc-simple-card>

      </div>
      <div *ngIf="formEdit" class="margin-20">
        <a (click)="addDoc()" style="cursor: pointer">{{'form_action.add'|translate}} {{'a2z.document'|translate}} +</a>
      </div>
    </div>


    <div class="clearfix"></div>
    <br />

    <button type="button" *ngIf="canReturn" (click)="return()" class="btn btn-default btn-with-icon" translate><i class="ion-ios-undo"></i>{{'form_action.return'}}</button>
    <button *ngIf="formEdit"
            (click)="submitForm()" class="btn btn-success pull-right"
            [disabled]="!myForm.valid">
              <i class="ion-ios-compose"></i> {{'form_action.submit'|translate}}
    </button>
    <div class="clearfix"></div>
    <br />

  </form>
  <!-- ./ MJE CONTENT -->

  <!-- DEBUG -->
  <bc-simple-card title="Debug">
  <div>
    <h3>DEBUG</h3>
    <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
    <pre>form value: <br>{{myForm.value | json}}</pre>
    <pre>transaction value: <br>{{entryJournal | json}}</pre>
  </div>
  </bc-simple-card>
  <!-- ./DEBUG -->

</ng-container>

<!-- FORM ACTION COMPLETE MESSAGE -->
<ng-container *ngIf="isSubmit">
  <bc-page-message  [icon]="submitIcon" [title]="submitTitle">
    <p>
      <a translate>{{submitMessage|translate}}</a>
    </p>
    <br />
    <button type="button"
            *ngIf="canReturn"
            (click)="return()" class="btn btn-default btn-with-icon">
              <i class="ion-ios-undo"></i>{{'form_action.return'|translate}}
    </button>
  </bc-page-message>
</ng-container>
<!-- ./FORM ACTION COMPLETE MESSAGE -->
