<!-- page size and filter -->
<div class="form-control pull-left">
  <div class ="pull-left">
    <input type="number" class="form-control" *ngIf="pageSizeSelect" [(ngModel)]="pageSize" (keyup)="reSize()" placeholder="Page Size" />
  </div>
  <div class="pull-right">
    <input type="text" class="form-control" *ngIf="enableFilter" [(ngModel)]="query" ng-model-options="{debounce: 5000}" (keyup)="filter()" placeholder="Filter" />
  </div>
</div>
<div class="clearfix"></div>
<br />

<!-- table -->
<table class="table table-hover table-sortable">
  <thead>
    <tr class="black-muted-bg">
      <th *ngFor="let column of columns" [class]="selectedClass(column.variable)" (click)="changeSorting(column.variable)" translate>
        {{column.display}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let object of pagedItems | orderBy : convertSorting()">
      <td *ngFor="let column of columns">
        {{object[column.variable] | format : column.filter}}
        <div *ngIf="column.variable=='_action'" class="btn-group btn-action pull-right">
            <button (click)="onClick('02', object._id)" type="button" class="btn btn-default btn-icon"><i class="ion-android-search"></i></button>
            <button (click)="onClick('03', object._id)" type="button" class="btn btn-default btn-icon"><i class="ion-android-create"></i></button>
            <button (click)="onClick('04', object._id)" type="button" class="btn btn-default btn-icon"><i class="ion-toggle-filled"></i></button>
            <button (click)="onClick('05', object._id)" type="button" class="btn btn-default btn-icon"><i class="ion-toggle"></i></button>
            <button (click)="onClick('06', object._id)" type="button" class="btn btn-default btn-icon"><i class="ion-clock"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<br />

<!-- pager -->
<div class="pull-left">
  <span translate>{{'shared.table.showing'}}</span> {{(pager.currentPage - 1) * pageSize + 1}}
  <span translate>{{'shared.table.to'}}</span> {{(((pager.currentPage - 1) * pageSize + 1) + pageSize < recordCount)
    ?(((pager.currentPage - 1) * pageSize + 1) + pageSize):recordCount}}
  <span translate>{{'shared.table.of'}}</span> {{recordCount}}
</div>
<div class="btn-group pull-right" *ngIf="pager.pages && pager.pages.length">
  <button [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(1)" type="button" class="btn btn-default btn-icon">
    <i class="ion-ios-skipbackward"></i>
  </button>
  <button [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(pager.currentPage - 1)" type="button" class="btn btn-default btn-icon">
    <i class="ion-arrow-left-b"></i>
  </button>
  <button *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" (click)="setPage(page)" type="button" class="btn btn-default">
    {{page}}
  </button>
  <button [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.currentPage + 1)" type="button" class="btn btn-default btn-icon">
    <i class="ion-arrow-right-b"></i>
  </button>
  <button [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.totalPages)" type="button" class="btn btn-default btn-icon">
    <i class="ion-ios-skipforward"></i>
  </button>
</div>
