<div [formGroup]="mjeFormEntryItemRef">
  <div class="form-group col-sm-12">
    <label>{{'object.object'|translate}} {{ref+1}}<small [hidden]="mjeFormEntryItemRef.controls.objTitle.valid" class="text-warning"> ({{'validation.is_required'|translate}})</small></label>
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-warning" type="button" [ngClass]="{disabled : !formEdit}" (click)="formEdit && removeRef(ref)"><i class="ion-trash-b"></i></button>
      </span>
      <input type="text" class="form-control" name="objTitle" formControlName="objTitle" placeholder="{{'prop.search'|translate}}">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" [ngClass]="{disabled : !formEdit}" (click)="formEdit && selectRef()"><i class="ion-magnet"></i></button>
      </span>
    </div>
  </div>
  <div class="form-group" hidden>    
    <input type="text" class="form-control alight-right" name="objType" formControlName="objType" />
    <small [hidden]="mjeFormEntryItemRef.controls.objType.valid" class="text-warning">({{'validation.is_required'|translate}})</small>
    <input type="text" class="form-control alight-right" name="objId" formControlName="objId" />
    <small [hidden]="mjeFormEntryItemRef.controls.objId.valid" class="text-warning">({{'validation.is_required'|translate}})</small>
  </div>
</div>
