<ba-card>
	<p-menubar [model]="items">
	    <input type="text" pInputText placeholder="Search">
	    <button pButton label="Logout" icon="fa-sign-out"></button>
	</p-menubar>
</ba-card>

<!--
<ba-card title="{{'asm.desc'|translate}}">

	<div class="wrapper">

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure (click)="onClick('cbn', '00')">
				<div class="with-round-bg default">
					<img src="assets/stocks/Office/Office-33.svg">
				</div>
				<figcaption class="caption">{{'asm.cabinet_management'|translate}}</figcaption>
			</figure>
		</div>

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure (click)="onClick('adt', '00')">
				<div class="with-round-bg default">
					<img src="assets/stocks/Office/Office-03.svg">
				</div>
				<figcaption class="caption">{{'asm.audit_assignment_management'|translate}}</figcaption>
			</figure>
		</div>

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure (click)="onClick('asm', '91')">
				<div class="with-round-bg default">
					<img src="assets/stocks/Badges_Votes/Badges_Votes-14.svg">
				</div>
				<figcaption class="caption">{{'asm.backup_restore_audit_file'|translate}}</figcaption>
			</figure>
		</div>

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure>
				<a href='/#/pages/tcode/mje'>
					<div class="with-round-bg default">
						<img src="assets/stocks/Office/Office-07.svg">
					</div>
					<figcaption class="caption">{{'asm.audit_package_management'|translate}}</figcaption>
				</a>
			</figure>
		</div>

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure>
				<a href='/#/pages/tcode/mje'>
						<div class="with-round-bg default">
							<img src="assets/stocks/Documents_Bookmarks/Documents_Bookmarks-26.svg">
						</div>
						<figcaption class="caption">{{'asm.inforbase_management'|translate}}</figcaption>
				</a>
			</figure>
		</div>

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure (click)="onClick('asm', '90')">
				<div class="with-round-bg default">
					<img src="assets/stocks/SEO/SEO-44.svg">
				</div>
				<figcaption class="caption">{{'a2z.system_administration'|translate}}</figcaption>
			</figure>
		</div>

		<div class="clearfix"></div>

	</div>

</ba-card>
-->
