<ba-card title="{{'crm.desc'|translate}}">

	<div class="wrapper">
		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure>
				<a href='/#/pages/tcode/mje'>
					<img src="{{systemImagePath}}charlotte-free.jpg" />
					<figcaption class="caption">Support and Information</figcaption>
				</a>
			</figure>
		</div>
		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure>
				<img src="{{systemImagePath}}adriana-lima.jpg" />
				<figcaption class="caption">Personal Information</figcaption>
			</figure>
		</div>
		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure>
				<img src="{{systemImagePath}}eva-riccobono.jpg" />
				<figcaption class="caption">Career</figcaption>
			</figure>
		</div>
		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure>
				<img src="{{systemImagePath}}ana-beatriz-barros.jpg" />
				<figcaption class="caption">Recruiting</figcaption>
			</figure>
		</div>

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure>
				<img src="{{systemImagePath}}jenny-chlebik.jpg" />
				<figcaption class="caption">Directory</figcaption>
			</figure>
		</div>
		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure>
				<img src="{{systemImagePath}}sephora-venites.jpg" />
				<figcaption class="caption">My Team</figcaption>
			</figure>
		</div>
		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure>
				<img src="{{systemImagePath}}emily-didonato.jpg" />
				<figcaption class="caption">Team Performance</figcaption>
			</figure>
		</div>
		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure>
				<img src="{{systemImagePath}}linnea-ahlman.jpg" />
				<figcaption class="caption">Talent</figcaption>
			</figure>
		</div>

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure>
				<img src="{{systemImagePath}}anja-rubik.jpg" />
				<figcaption class="caption">Dashboard</figcaption>
			</figure>
		</div>
		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure>
				<img src="{{systemImagePath}}daria-werbowy.jpg" />
				<figcaption class="caption">Favorites</figcaption>
			</figure>
		</div>
		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure>
				<img src="{{systemImagePath}}claudia-galhardo.jpg" />
				<figcaption class="caption">Team Time Off</figcaption>
			</figure>
		</div>
		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure>
				<img src="{{systemImagePath}}brooklyn-decker.jpg" />
				<figcaption class="caption">Time Off</figcaption>
			</figure>
		</div>

		<div class="clearfix"></div>

	</div>

</ba-card>
