<form [formGroup]="myForm" novalidate> <!-- (ngSubmit)="saveEntryJournal(myForm)" -->
  <div class="form-group">
    <bc-combo-box title="{{'object.lge'|translate}}" name="lge" [list]="lgeList" formControlName="lge" [f1]="'id'" [f2]="'desc'"></bc-combo-box>

    <label for="id">{{'a2z.doc_id'|translate}} <small [hidden]="id" class="text-warning">({{'validation.is_required'|translate}})</small></label>
    <input type="text" class="form-control" [(ngModel)]="id" name="id" formControlName="id" placeholder="{{'a2z.doc_id' | translate}}">

  </div>

  <button type="button" *ngIf="canReturn" (click)="return()" class="btn btn-default btn-with-icon" translate><i class="ion-ios-undo"></i>{{'a2z.return'}}</button>

  <div class="pull-right">
      <button *ngIf="action=='12'" type="button" (click)="onClick()" [disabled]="!myForm.valid" class="btn btn-info btn-with-icon" translate><i class="ion-android-search"></i>{{'individual.view'}}</button>
      <button *ngIf="action=='13'" type="button" (click)="onClick()" [disabled]="!myForm.valid" class="btn btn-success btn-with-icon" translate><i class="ion-android-create"></i>{{'individual.edit'}}</button>
      <button *ngIf="action=='14'" type="button" (click)="onClick()" [disabled]="!myForm.valid" class="btn btn-warning btn-with-icon" translate><i class="ion-toggle-filled"></i>{{'individual.disable'}}</button>
      <button *ngIf="action=='15'" type="button" (click)="onClick()" [disabled]="!myForm.valid" class="btn btn-primary btn-with-icon" translate><i class="ion-toggle"></i>{{'individual.enable'}}</button>
      <button *ngIf="action=='16'" type="button" (click)="onClick()" [disabled]="!myForm.valid" class="btn btn-primary btn-with-icon" translate><i class="ion-clock"></i>{{'individual.view_change'}}</button>
      <button *ngIf="action=='17'" type="button" (click)="onClick()" [disabled]="!myForm.valid" class="btn btn-primary btn-with-icon" translate><i class="ion-forward"></i>{{'individual.post'}}</button>
      <button *ngIf="action=='18'" type="button" (click)="onClick()" [disabled]="!myForm.valid" class="btn btn-primary btn-with-icon" translate><i class="ion-reply"></i>{{'individual.revert'}}</button>
  </div>
</form>
