<h3>{{'mje.desc'|translate}}</h3>

<div class="row" *ngIf="!id">
  <div class="col-md-4">
    <div>
      <ba-card baCardClass="with-scroll"> <!-- translate title="{{'tcode.mje'}}"-->
        <bc-lead
          [tcode]="tcode">
        </bc-lead>
      </ba-card>
    </div>
  </div>
</div>

<div class="row" *ngIf="id">
  <div class="col-md-12">
    <bc-page-message  [icon]="submitIcon" [title]="submitTitle">
      <p>
        <a> {{submitMessage|translate}} </a>
      </p>
      <br />
      <button type="button"
              *ngIf="canReturn"
              (click)="return()" class="btn btn-default btn-with-icon">
                <i class="ion-ios-undo"></i>{{'form_action.return'|translate}}
      </button>
    </bc-page-message>
  </div>
</div>
