<div *ngIf="!collapse" class="btn-group-example">
  <h5 class="panel-subtitle" translate> {{'individual.title'}} </h5>
  <div class="btn-group" role="group" aria-label="Individual">
    <button *ngIf="checkTCodeViaAction('11')" (click)="executeTCodeViaAction('11')" type="button" class="btn btn-primary btn-with-icon"><i class="ion-android-add"></i>{{'individual.create'|translate}}</button>
    <button *ngIf="checkTCodeViaAction('12')" (click)="executeTCodeViaAction('12')" type="button" class="btn btn-primary btn-with-icon"><i class="ion-android-search"></i>{{'individual.view'|translate}}</button>
    <button *ngIf="checkTCodeViaAction('13')" (click)="executeTCodeViaAction('13')" type="button" class="btn btn-primary btn-with-icon"><i class="ion-android-create"></i>{{'individual.edit'|translate}}</button>
    <button *ngIf="checkTCodeViaAction('14')" (click)="executeTCodeViaAction('14')" type="button" class="btn btn-primary btn-with-icon"><i class="ion-toggle-filled"></i>{{'individual.disable'|translate}}</button>
    <button *ngIf="checkTCodeViaAction('15')" (click)="executeTCodeViaAction('15')" type="button" class="btn btn-primary btn-with-icon"><i class="ion-toggle"></i>{{'individual.enable'|translate}}</button>
    <button *ngIf="checkTCodeViaAction('16')" (click)="executeTCodeViaAction('16')" type="button" class="btn btn-primary btn-with-icon"><i class="ion-clock"></i>{{'individual.view_change'|translate}}</button>
    <button *ngIf="checkTCodeViaAction('17')" (click)="executeTCodeViaAction('17')" type="button" class="btn btn-primary btn-with-icon"><i class="ion-forward"></i>{{'individual.post'|translate}}</button>
    <button *ngIf="checkTCodeViaAction('18')" (click)="executeTCodeViaAction('18')" type="button" class="btn btn-primary btn-with-icon"><i class="ion-reply"></i>{{'individual.revert'|translate}}</button>
  </div>
</div>

<div *ngIf="collapse" class="btn-group" ngbDropdown>
  <button type="button" class="btn btn-primary" ngbDropdownToggle>{{'individual.title'|translate}}</button>
  <ul class="dropdown-menu">
    <li *ngIf="checkTCodeViaAction('11')" (click)="executeTCodeViaAction('11')" class="dropdown-item"><a><i class="ion-android-add"></i> {{'individual.create'|translate}}</a></li>
    <li *ngIf="checkTCodeViaAction('12')" (click)="executeTCodeViaAction('12')" class="dropdown-item"><a><i class="ion-android-search"></i> {{'individual.view'|translate}}</a></li>
    <li *ngIf="checkTCodeViaAction('13')" (click)="executeTCodeViaAction('13')" class="dropdown-item"><a><i class="ion-android-create"></i> {{'individual.edit'|translate}}</a></li>
    <li *ngIf="checkTCodeViaAction('14')" (click)="executeTCodeViaAction('14')" class="dropdown-item"><a><i class="ion-toggle-filled"></i></a> {{'individual.disable'|translate}}</li>
    <li *ngIf="checkTCodeViaAction('15')" (click)="executeTCodeViaAction('15')" class="dropdown-item"><a><i class="ion-toggle"></i></a> {{'individual.enable'|translate}}</li>
    <li *ngIf="checkTCodeViaAction('16')" (click)="executeTCodeViaAction('16')" class="dropdown-item"><a><i class="ion-clock"></i></a> {{'individual.view_change'|translate}}</li>
    <li *ngIf="checkTCodeViaAction('17')" (click)="executeTCodeViaAction('17')" class="dropdown-item"><a><i class="ion-forward"></i></a> {{'individual.post'|translate}}</li>
    <li *ngIf="checkTCodeViaAction('18')" (click)="executeTCodeViaAction('18')" class="dropdown-item"><a><i class="ion-reply"></i></a> {{'individual.revert'|translate}}</li>
  </ul>
</div>
