<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{'ref_modal.header'|translate}}</h4>
    <!--
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    -->
  </div>
  <div class="modal-body">
    <div class="form-group">
      {{'ref_modal.content'|translate}}
    </div>

    <div class="form-group">
      <label>{{'ref_modal.ref_type'|translate}} <small [hidden]="objType" class="text-warning"> ({{'validation.is_required'|translate}})</small></label>
      <select class="form-control" (change)="onSelect($event.target.value)">
        <option *ngFor="let item of objTypeList" [value]="item['obj']" [selected]="item['obj'] == objType">
          {{item['desc']}}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="objType">
      <label>{{'ref_modal.ref_title'|translate}} <small [hidden]="objTitle" class="text-warning"> ({{'validation.is_required'|translate}})</small></label>
      <ng2-completer  class="form-control" name="objTitle"
                      [(ngModel)]="objTitle"
                      [datasource]="dataService"
                      (blur)="onBlur()"
                      (keyup)="objKeyUp($event)"
                      (selected)="selectedItem($event)"
                      [minSearchLength]="1">
      </ng2-completer>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary confirm-btn" (click)="confirmModal()" [disabled]="(!objType) || (!objTitle)">{{'form_action.select'|translate}}</button>
  </div>
</div>
