<ba-card title="{{'mcat.desc'|translate}}">

	<div class="wrapper">

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure (click)="executeTCode('mcat', '30')">
				<img src="/assets/stocks/Office/Office-02.svg" />
				<figcaption class="caption">{{'mcat.mcat30_mnu'|translate}}</figcaption>
			</figure>
		</div>

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure (click)="executeTCode('mcat', '31')">
				<img src="/assets/stocks/Office/Office-05.svg" />
				<figcaption class="caption">{{'mcat.mcat31_mnu'|translate}}</figcaption>
			</figure>
		</div>

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure (click)="executeTCode('mcat', '32')">
				<img src="/assets/stocks/Office/Office-25.svg" />
				<figcaption class="caption">{{'mcat.mcat32_mnu'|translate}}</figcaption>
			</figure>
		</div>
		<div class="clearfix"></div>

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure (click)="executeTCode('mcat', '40')">
				<img src="/assets/stocks/Office/Office-18.svg" />
				<figcaption class="caption">{{'mcat.mcat40_mnu'|translate}}</figcaption>
			</figure>
		</div>

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure (click)="executeTCode('mcat', '41')">
				<img src="/assets/stocks/Office/Office-06.svg" />
				<figcaption class="caption">{{'mcat.mcat41_mnu'|translate}}</figcaption>
			</figure>
		</div>

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure (click)="executeTCode('mcat', '42')">
				<img src="/assets/stocks/Office/Office-28.svg" />
				<figcaption class="caption">{{'mcat.mcat42_mnu'|translate}}</figcaption>
			</figure>
		</div>

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure (click)="executeTCode('mcat', '43')">
				<img src="/assets/stocks/Office/Office-46.svg" />
				<figcaption class="caption">{{'mcat.mcat43_mnu'|translate}}</figcaption>
			</figure>
		</div>

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure (click)="executeTCode('mcat', '44')">
				<img src="/assets/stocks/Office/Office-35.svg" />
				<figcaption class="caption">{{'mcat.mcat44_mnu'|translate}}</figcaption>
			</figure>
		</div>

		<div class="clearfix"></div>

	</div>

</ba-card>
