<ba-card title="{{'mcat.mcat30_mnu'|translate}}">

	<div class="wrapper">

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure (click)="executeTCode('mcat', '31')">
				<img src="/assets/stocks/Office/Office-05.svg" />
				<figcaption class="caption">{{'mcat.mcat31_mnu'|translate}}</figcaption>
			</figure>
		</div>
		<p>
			This section talking about Inbox
		</p>
		<div class="clearfix"></div>

		<div class="imgholder">
			<div class="outer1 circle"></div>
			<div class="outer2 circle"></div>
			<figure (click)="executeTCode('mcat', '32')">
				<img src="/assets/stocks/Office/Office-25.svg" />
				<figcaption class="caption">{{'mcat.mcat32_mnu'|translate}}</figcaption>
			</figure>
		</div>
		<p>
			This section talking about Outbox
		</p>
		<div class="clearfix"></div>

	</div>

</ba-card>
